body{
font-family:calibry;
background-color:light blue;
padding:40px;
margin:0;}

h1{
	color:blue;
	font-size:1.6rem;
margin-bottom:24px;}

label{
color:pink;}

p{color:pink;}
	


	
